body {
    margin: 0;
    padding: 0;

}

.container {
    margin: 10vh auto 0 auto;
    max-width: 400px;
    background-color: black;
    border-radius: 5%;
}

#display {

    height: 100px;
    width: 400px;
    text-align: right;
    background-color: rgb(243, 191, 37);
    color: white;
    font-size: 30px;
    line-height: 150px;

}

.buttons {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
}

.button {
    color: white;
    width: 80px;
    height: 80px;
    background-color: grey;
    border-radius: 50%;
    text-align: center;
    font-size: 40px;
    line-height: 80px;
    margin: 10px;
    cursor: pointer;
}
